@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.navbar {
    background: #4b9d96;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar ul li {
    margin-left: 1rem;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar a:hover {
    color: #292f3d
}



main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

.showcase {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 32px;
    border-radius: 0.5rem;
}

h1 {
    margin-top: 0;
    color: #20897f;
    letter-spacing: 1px;
}

input[type="text"] {
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 100%;
    outline: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

input[type=text]:focus {
    border: 1px solid #4b9d96;
}

select {
    padding: 0.5rem;
    margin-bottom: 2rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
    width: 100%;
}

.form-control {
    width: 100%;
}

.btn {
    background-color: #4b9d96;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
}

.btn:hover {
    background-color: #3f4759;
}

.image-container {
    position: relative;
}

.msg {
    color: tomato;
}

#image {
    width: 100%;
    height: auto;
}